<div>
    <h2>Login Page using Template Driven Form</h2>
    <form #loginRef="ngForm" (ngSubmit)="checkUser(loginRef)">
        <label>UserName</label>
            <input type="text" name="user" ngModel required minlength="2"/>
<div *ngIf="loginRef.controls['user'].invalid && (loginRef.controls['user'].dirty || loginRef.controls['user'].touched)">
   <span [hidden]="!loginRef.controls['user'].errors?.['required']" style="color:red">UserName is required</span>
   <span [hidden]="!loginRef.controls['user'].errors?.['minlength']" style="color:red">Min length must be 2 character</span>
</div>    
        <br/>
        <label>Password</label>
            <input type="password" name="pass" ngModel required minlength="3"/>
            <div *ngIf="loginRef.controls['pass'].invalid && (loginRef.controls['pass'].dirty || loginRef.controls['pass'].touched)">
            <span [hidden]="!loginRef.controls['pass'].errors?.['required']" style="color:red">Password is required</span>
            <span [hidden]="!loginRef.controls['pass'].errors?.['minlength']" style="color:red">Min length must be 3 character</span>
             </div>   
    <br/>         
        <label>PhNumber</label>
             <input type="text" name="phnumber" ngModel required pattern="\d{10}"/>
    <div *ngIf="loginRef.controls['phnumber'].invalid && (loginRef.controls['phnumber'].dirty || loginRef.controls['phnumber'].touched)">
                 <span [hidden]="!loginRef.controls['phnumber'].errors?.['required']" style="color:red">Password is required</span>
                 <span [hidden]="!loginRef.controls['phnumber'].errors?.['pattern']" style="color:red">Number must be 10 digit mandatory</span>
    </div>  

        <br/>
        <label>PhNumber</label>
        <input type="text" name="email" ngModel required pattern="[a-z]+@[a-z]+.com|in"/>
        <div *ngIf="loginRef.controls['email'].invalid && (loginRef.controls['email'].dirty || loginRef.controls['email'].touched)">
            <span [hidden]="!loginRef.controls['email'].errors?.['required']" style="color:red">Email Id required</span>
            <span [hidden]="!loginRef.controls['email'].errors?.['pattern']" style="color:red">Plz enter valid email id</span>
         </div>  
         <br/>
        <input type="submit" value="submit" [disabled]="!loginRef.valid"/>
        <input type="reset" value="reset"/>
    </form>
    <br/>
    {{msg}}
</div>
